.recursos {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Adicionando para centralizar conteúdo */
}

iframe {
    display: block;
    margin: 0 auto;
}

.recursos img {
    width: 300%; /* Ajusta a largura para preencher o container */
    max-width: 600px; /* Define uma largura máxima para a imagem */
    height: auto; /* Mantém a proporção da imagem ao redimensionar */
    margin: 10px 0; /
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #002244;
    color: white;
    padding: 20px;
    text-align: center;
    border: none; /* Remover a borda */
}

.dicas {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 1250px;
    margin: 0 auto;
}

.dicas article {
    background-color: #b2c8da;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dicas h2 {
    color: #002244;
    margin-bottom: 10px;
}

.dicas p {
    color: #555;
    margin-bottom: 10px;
}

footer {
    background-color: #002244;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

.imagem img {
    width: 100%; /* Ajusta a largura para preencher o container */
    max-width: 600px; /* Define uma largura máxima para a imagem */
    height: auto; /* Mantém a proporção da imagem ao redimensionar */
    margin: 20px auto; /* Centraliza horizontalmente */
    display: block; /* Garante que a imagem seja exibida como um bloco */
    border-radius: 8px; /* Adiciona bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
}

